.card {
	width: 200px;
	height: 200px;
	margin: 20px;
	padding: 20px;
	box-shadow: 0 0 10px 4px lightgray;
	border: solid white 8px;
	border-radius: 4px;
}

.c13 {
	background-color: red;
}
.c14 {
	background-color: 
}
.c15 {
	background-color: 
}
.c16 {
	background-color: 
}
.c17 {
	background-color: 
}
.c18 {
	background-color: 
}
.c19 {
	background-color: 
}
.c20 {
	background-color: 
}
.c21 {
	background-color: 
}
.c22 {
	background-color: 
}
.c23 {
	background-color: 
}
.c24 {
	background-color: 
}